* {
    box-sizing: border-box;
  }

body {
    margin: 0;
}
ul {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
  }
  .headlines-list-container {
    width: 24.5rem;
  }
  
  .headlines-list {
    height: 100%;
    overflow: auto;
    scrollbar-width: none; /*mozilla*/
  }
  .headlines-list::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

  .headlines-list-item {
    box-sizing: border-box;
    height: 39px;
    width: 100%;
    background-color: #f4f8fb;
    margin-bottom: .5rem;
  }
  
  .cards-list-container {
    width: 100%;
    min-width: 32rem;
    padding: 1.25rem;
    background-color: #d3dee4;
  }
  .cards-list {
    height: 100%;
    display: grid;
    gap: 0.62rem;
    flex-wrap: wrap; 
    grid-template-columns: repeat(auto-fit, minmax(max(13.5rem, 100%/7), 1fr));
    grid-template-rows: repeat(auto-fit, minmax(10rem, 1fr));
    
  }
  
  .cards-list-item {
    background-color: darkcyan;
  }  