:root {
  --body-background-color: #EEF2F4;
  --headers-background-color:#F9FBFD;
  --grid-lines-color: #d3dee4;
  --list-items-border-color: #d3dee4;
  --grid-headers-background-color: #EEF2F4;
  --headlines-list-item-background-color: #F9FBFD;
  --feeds-list-item-background-color: #2274A5;
  --cards-list-item-background-color: #091540 ;

  --headlines-list-width: 24.35rem; 
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--body-background-color);
}

main {
  height: 100%; /* if the parent element hasn't height:100% the grid child element can't use percentage as unit in firefox */
}

ul {
  list-style-type: none;
  padding: 0%;
  margin: 0%;
  overflow: auto;
}

.main-header {
  height: 3.125rem;
  background-color: var(--headers-background-color);
}

.dashboard-container {
  height: calc(100% - 3.125rem);
}

.headlines-list-container {
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.headlines-list-header, .cards-list-header, .embeded-website-header {
  height: 2.4rem;
  background-color: var(--headers-background-color);
}

.headlines-list {
  scrollbar-width: none; /*mozilla*/
  height: calc(100% - 2.4rem);
}
.headlines-list::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.headlines-list-item {
  height: 39px;
  width: 100%;
  background-color: var(--headlines-list-item-background-color);
  border-bottom: 0.01rem solid var(--list-items-border-color);
}

.cards-list-container {
  width: 100%;
  height: 100%;
  min-width: 32rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.cards-list {
  height: 100%;
  display: grid;
  gap: 0.625rem;
  grid-template-columns: repeat(auto-fit, minmax(max(13.5rem, 100%/7), 1fr));
  grid-template-rows: repeat(auto-fit, minmax(10rem, 1fr));
}

.cards-list-item {
  background-color: var(--cards-list-item-background-color);
}