@import url("../styles.css");

.front-hands {
  min-width: 60rem;
  padding: 1.31rem 0.62rem 0.62rem 0.62rem;
  display: grid;
  grid-template-columns: var(--headlines-list-width) 1fr;
  gap: 1.62rem;
}

.medium-width {
  display: none;
}

@media (min-width: 78.56rem){
  .front-hands{
    grid-template-columns: var(--headlines-list-width) 1fr var(--headlines-list-width);
  }
  .medium-width{
    display: flex;
  }
}
