@import url("../styles.css");

.the-reader {
    min-width: 60rem;
    height: calc(100% - 3.125rem);
    display: grid;
    grid-template-columns: 15.31rem 26.62rem 1fr;
    grid-template-areas: "feeds-list headlines-list embeded-website";
}
.the-reader > * {
    border-top: 0.1rem solid var(--grid-lines-color);
    border-right: 00.1rem solid var(--grid-lines-color);
}

.the-reader :last-child {
    border-right: none;
}

.the-reader > * > header {
    height: 2.4rem;
    background-color: var(--grid-headers-background-color);
    border-bottom: 00.1rem solid var(--grid-lines-color);

}

.feeds-list-container {
    grid-area: feeds-list ;
    overflow: auto;
}
.feeds-list {
    scrollbar-width: none; /*mozilla*/
    height: calc(100% - 2.4rem);
}
.feeds-list::-webkit-scrollbar{
    display: none; /* Safari and Chrome*/
}
.feeds-list-item {
    height: 2.43rem;
    background-color: var(--feeds-list-item-background-color);
    border-bottom: .01rem solid #d3dee4;
}

.embeded-website-container {
    background-color: var(--cards-list-item-background-color);
}