@import url("../styles.css");

.cockpit {
  min-width: 60rem;
  padding: 1.31rem 0.62rem 0.62rem 0.62rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 24.35rem);
  grid-template-areas:
    "headlines-list headlines-list"
    "headlines-list headlines-list";
  justify-content: space-between;
  gap: 0.65rem;
}

.headlines-list-container{
    gap:0.62rem;
}

.medium-width {
  display: none;
}

.large-width {
  display: none;
}

@media (min-width: 75.62rem) {
  .medium-width {
    display: flex;
  }
}

@media (min-width: 100.62rem) {
  .large-width {
    display: flex;
  }
}
